# Beispiel URLs - eine URL pro Zeile
# Kommentare mit # sind erlaubt

https://bajour.ch/artikel/beispiel-artikel-1
https://bajour.ch/artikel/beispiel-artikel-2
https://bajour.ch/artikel/beispiel-artikel-3
